$color-background-dark:#1e1e1e;
$color-font-primary: #E3E3E3;
$color-highlight-primary: #3C485E;
$color-highlight-links: #3a627c;
$color-second-bg: #0f0f0f;
$color-bg-buvie: #212032;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: $color-background-dark;
  height: 100vh;
  color: $color-font-primary;
  font-family: 'Monserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;

  box-sizing: border-box;
}

.heading {
  font-size: 1.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 1.5fr 1fr;
  position: fixed;
  text-align: center;
  height: 6vh;
  width: 100%;
  z-index: 999;

  .name-logo {
    display: inline-block;
    width: 20rem;
    // margin-left: 3rem;
    margin-top: -0.1rem;
    grid-column-start: 1;
    justify-self: center;
  }
}

.navbar_links {
  list-style-type: none;
  grid-column-start: 3;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  justify-self: flex-end;
  z-index: 3;

  &_link{
    display: inline;

    &_a {
      text-decoration: none;
      color: $color-font-primary;

      &_text {
        border-right: 0.1rem solid $color-font-primary;
        margin-right: 0.2rem;

        &:hover {
          color: $color-highlight-links;
        }

        &-last {
          border: none;

          &:hover {
            color: $color-highlight-links;
          }
        }
      }
    }
  }
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 5rem 1fr 5rem;
  font-size: 2.5rem;
  font-weight: 700;
  height: 100vh;
  background-image: linear-gradient(to bottom right,
  rgba(36, 36, 36, 0.8),
  rgba(20, 20, 20, 0.8)),
  url(../images/citybg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;

  &_textbox {
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    cursor: default;

    &_about-me {
      grid-row-start: 1;
      display: inline-block;
      width: 100%;
  
      &--two {
        grid-row-start: 2;
        display: inline-block;
        width: 100%;
      }
    }
  }
}

.second-container {
  height: 200vh;
  background-color: rgb(28, 39, 58);
  display: grid;
  grid-template-rows: 20% 1fr 0.5fr;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas:
    "greet greet"
    "picture text"
    "picture text";

  &_greet {
    grid-area: greet;
    align-self: center;
    justify-self: center;
    font-size: 4.5vw;
    font-family: "Heebo", sans-serif;
  }

  &_picture {
    grid-area: picture;
    background-color: $color-background-dark;
    // background-image: url(../images/myselfone.jpg);
    // background-size: cover;
    &--one {
      width: 90%;
      height: auto;
      transform: translateY(-10%);
      position: relative;
      left: 2rem;
    }

    &--two {
      width: 90%;
      height: auto;
      position: relative;
      left: 2rem;     
    }
  }

  &_tech-stack {
    grid-area: tech;
    background-color: $color-background-dark;
    text-align: center;
    font-size: 3rem;
    cursor: default;
  }

  &_about-me-text {
    grid-area: text;
    background-color: $color-background-dark;
    font-size: 2.5vw;
    text-align: left;
    align-content: center;
    padding: 3.5rem;
    cursor: default;

    &-intro {
      font-family: 'Heebo', sans-serif;
    }

    &-p {
      font-family: "Lato", sans-serif;
      font-size: 4vh;
      align-self: center;
    }
  }
}

.projects-intro {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right,
  rgba(36, 36, 36, 0.8),
  rgba(20, 20, 20, 0.8)),
  url(../images/project-intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  // text-align: center;
  font-size: 3rem;
  font-family: "Heebo", sans-serif;

  &_PROJECTS {
    color: white;
    cursor: default;
  }
}

.first-project {
  height: 150vh;
  background-color: $color-bg-buvie;
  padding: 5rem;
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas: 
    "desc desc desc"
    "screenshot screenshot screenshot"
    ". links .";

    &--screenshot {
      grid-area: screenshot;
      display: flex;
      justify-content: center;
      

      &_buvie {
        width: 90%;
        height: 90%;
        // position: relative;
        // transform: translateX(25%);
        z-index: 0;
      }
    }

    &--description {
      grid-area: desc;
      font-size: 3rem;
      text-align: center;

      &_BUVIE {
        color: #A33944;
        // display: inline-block;
        cursor: default;
        font-family: "Heebo", sans-serif;
      }

      &_text {
        font-family: 'Lato', sans-serif;
        color: #8B8B99;
        // display: inline-block;
        cursor: default;
      }
    }

    &--links {
      grid-area: links;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 20%;
      grid-template-areas: 
        "techlist site"
        "techlist git";
      
      &_techlist {
        grid-area: techlist;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        align-self: center;
        color: #8B8B99;
        cursor: default;
      }

      &_site-btn {
        grid-area: site;
        background-color: #A33944;
        border-radius: 2px;
        color: white;
        border: none;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        height: 4rem;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
      }

      &_github-btn {
        grid-area: git;
        background-color: #A33944;
        border-radius: 2px;
        color: white;
        border: none;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        height: 4rem;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
      }
    }
}

.second-project {
  height: 150vh;
  background-color: #dad9d5;
  padding: 5rem;
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas: 
    "desc desc desc"
    "screenshot screenshot screenshot"
    ". links .";

    &--screenshot {
      grid-area: screenshot;
      display: flex;
      justify-content: center;

      &_petdrop {
        width: 90%;
        height: 90%;
      }
    }

    &--description {
      grid-area: desc;
      font-size: 3rem;
      text-align: center;

      &_PETDROP {
        color: #e78ea2;
        // display: inline-block;
        cursor: default;
        font-family: "Heebo", sans-serif;
      }

      &_text {
        font-family: 'Lato', sans-serif;
        color: black;
        // display: inline-block;
        cursor: default;
      }
    }

    &--links {
      grid-area: links;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 20%;
      grid-template-areas: 
        "techlist site"
        "techlist git";
      
      &_techlist {
        grid-area: techlist;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        align-self: center;
        color: black;
        cursor: default;
      }

      &_site-btn {
        grid-area: site;
        background-color: #478fd5;
        border-radius: 2px;
        color: #f0eee7;
        border: none;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        height: 4rem;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
      }

      &_github-btn {
        grid-area: git;
        background-color: #3fa959;
        border-radius: 2px;
        color: #f0eee7;
        border: none;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        height: 4rem;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
      }
    }
}

.third-project {
  height: 150vh;
  background-color: rgb(10, 10, 10);
  padding: 5rem;
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas: 
    "desc desc desc"
    "screenshot screenshot screenshot"
    ". links .";

    &--screenshot {
      grid-area: screenshot;
      display: flex;
      justify-content: center;

      &_studpoker {
        width: 90%;
        height: 90%;
      }
    }

    &--description {
      grid-area: desc;
      font-size: 3rem;
      text-align: center;

      &_STUDPOKER {
        color: red;
        // display: inline-block;
        cursor: default;
        font-family: "Heebo", sans-serif;
      }

      &_text {
        font-family: 'Lato', sans-serif;
        color: white;
        // display: inline-block;
        cursor: default;
      }
    }

    &--links {
      grid-area: links;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 20%;
      grid-template-areas: 
        "techlist site"
        "techlist git";
      
      &_techlist {
        grid-area: techlist;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        align-self: center;
        color: white;
        cursor: default;
      }

      &_site-btn {
        grid-area: site;
        background-color: rgb(255, 255, 255);
        border-radius: 2px;
        color: black;
        border: none;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        height: 4rem;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
      }

      &_github-btn {
        grid-area: git;
        background-color: red;
        border-radius: 2px;
        color: black;
        border: none;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        height: 4rem;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
      }
    }
}

.fourth-project {
  height: 150vh;
  background-image: linear-gradient(to bottom right,
  rgba(36, 36, 36, 0.8),
  rgba(20, 20, 20, 0.8)),
  url(../images/motherboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas: 
    "desc desc desc"
    "screenshot screenshot screenshot"
    ". links .";

    &--screenshot {
      grid-area: screenshot;
      display: flex;
      justify-content: center;

      &_mouseai {
        width: 90%;
        height: 90%;
      }
    }

    &--description {
      grid-area: desc;
      font-size: 3rem;
      text-align: center;

      &_MOUSEAI {
        color: #33c0b9;
        // display: inline-block;
        cursor: default;
        font-family: "Heebo", sans-serif;
      }

      &_text {
        font-family: 'Lato', sans-serif;
        color: white;
        // display: inline-block;
        cursor: default;
      }
    }

    &--links {
      grid-area: links;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 20%;
      grid-template-areas: 
        "techlist git";
      
      &_techlist {
        grid-area: techlist;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        align-self: center;
        color: white;
        cursor: default;
      }

      &_github-btn {
        grid-area: git;
        background-color: #33c0b9;
        border-radius: 2px;
        color: black;
        border: none;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        height: 4rem;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
      }
    }
}

.fifth-project {
  height: 150vh;
  background-color: transparent;
  padding: 5rem;
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas: 
    "desc desc desc"
    "screenshot screenshot screenshot"
    ". links .";

    &--screenshot {
      grid-area: screenshot;
      display: flex;
      justify-content: center;

      &_citymain {
        width: 90%;
        height: 90%;
      }
    }

    &--description {
      grid-area: desc;
      font-size: 3rem;
      text-align: center;

      &_CITYMAIN {
        color: rgb(32, 243, 162);
        // display: inline-block;
        cursor: default;
        font-family: "Heebo", sans-serif;
      }

      &_text {
        font-family: 'Lato', sans-serif;
        color: black;
        // display: inline-block;
        cursor: default;
      }
    }

    &--links {
      grid-area: links;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 20%;
      grid-template-areas: 
        "techlist site"
        "techlist git";
      
      &_techlist {
        grid-area: techlist;
        font-family: "Lato", sans-serif;
        font-size: 2rem;
        align-self: center;
        color: black;
        cursor: default;
      }

      &_site-btn {
        grid-area: site;
        background-color: rgb(32, 243, 162);
        border-radius: 2px;
        color: black;
        border: none;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        height: 4rem;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
      }

      &_github-btn {
        grid-area: git;
        background-color: rgb(32, 243, 162);
        border-radius: 2px;
        color: black;
        border: none;
        cursor: pointer;
        justify-self: center;
        align-self: center;
        height: 4rem;
        width: 14rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        font-weight: 700;
      }
    }
}

.contact-area {
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-areas: "contact made";
  background-color: rgb(29, 36, 48);
  color: white;
  height: 30vh;
  font-size: 1.5rem;
  text-align: left;
  padding: 3rem;
  cursor: default;

  &--email {
    grid-area: contact;
  }

  &--made-with {
    grid-area: made;
    font-family: "Lato", sans-serif;

    &-main {
      font-family: 'Monserrat', sans-serif;
    }
  }

  & a {
    font-family: "Lato", sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: white;

    &:hover {
      color: #478fd5;
    }
  }
}

#particles-js{
  background-color: transparent;
  // background-size: cover;
  // background-position: 50% 50%;
  // background-repeat: no-repeat;
}

.particles-js-canvas-el {
  // grid-row-start: 1;
  // grid-row-end: 4;
  // grid-column-start: 1;
  // grid-column-end: 4;
  position: absolute;
  margin: -5rem;
  // margin-left: -5rem;
  // margin-right: -5rem;
  width: 100%;
  height: 150vh;
  background-color: #fff;
  z-index: -1;
}

@media (max-width: 724px) {
  .heading {
    grid-template-columns: 1fr;
    position: absolute;
  }

  .name-logo {

  }

  .navbar_links {
    display: none;
  }

  .container {
    font-size: 2vh;
    background-attachment: unset;
  }

  .second-container {
    height: 125vh;
    grid-template-rows: 10% 1fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "greet"
      "text"
      "text";

    &_greet {
      font-size: 2.5vh;
    }

    &_picture {
      display: none;
    }

    &_about-me-text {
      font-size: 2.5vh;

      &-p {
        font-size: 2vh;
      }
    }
  }

  .projects-intro {
    height: 15vh;
    font-size: 2vh;
    background-attachment: unset;
  }

  .first-project {
    padding: 1rem;
    height: 70vh;
    grid-template-rows: 35% 1fr 10%;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "desc"
      "screenshot"
      "links";

    &--screenshot {

      &_buvie {
        width: 90%;
        height: 70%;
      }
    }

    &--description {
      font-size: 2vh;
    }

    &--links {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "site git";

        &_techlist {
          display: none;
        }
    }
  }

  .second-project {
    padding: 1rem;
    height: 70vh;
    grid-template-rows: 35% 1fr 10%;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "desc"
      "screenshot"
      "links";

    &--screenshot {

      &_petdrop {
        width: 90%;
        height: 70%;
      }
    }

    &--description {
      font-size: 2vh;
    }

    &--links {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "site git";

        &_techlist {
          display: none;
        }
    }
  }

  .third-project {
    padding: 1rem;
    height: 70vh;
    grid-template-rows: 35% 1fr 10%;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "desc"
      "screenshot"
      "links";

    &--screenshot {

      &_studpoker {
        width: 90%;
        height: 70%;
      }
    }

    &--description {
      font-size: 2vh;
    }

    &--links {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "site git";

        &_techlist {
          display: none;
        }
    }
  }

  .fourth-project {
    padding: 1rem;
    height: 70vh;
    grid-template-rows: 35% 1fr 10%;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "desc"
      "screenshot"
      "links";

    &--screenshot {

      &_mouseai {
        width: 90%;
        height: 70%;
      }
    }

    &--description {
      font-size: 2vh;
    }

    &--links {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
        "git";

        &_techlist {
          display: none;
        }
    }
  }

  .fifth-project {
    padding: 1rem;
    height: 70vh;
    grid-template-rows: 35% 1fr 10%;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "desc"
      "screenshot"
      "links";

    &--screenshot {

      &_citymain {
        width: 90%;
        height: 70%;
      }
    }

    &--description {
      font-size: 2vh;
    }

    &--links {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "site git";

        &_techlist {
          display: none;
        }
    }
  }

  .contact-area {
    font-size: 1.6vh;
  }

  .particles-js-canvas-el {
    height: 80vh;
    width: 100%;
    margin: -1rem;
    right: -1;
  }
}