$color-background-dark:#1e1e1e;
$color-font-primary: #E3E3E3;
$color-highlight-primary: #3C485E;
$color-highlight-links: #3a627c;
$color-second-bg: #0f0f0f;
$color-bg-buvie: #212032;

@keyframes fadeInLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}